<form class="add-post-form" action="/posts/add-post" method="post">
    <label>Title: <input type="text" name="title" id="title"></label>
    <label>Author: <input type="text" name="author" id="author"></label>
    <label>Content: <textarea name="content" id="content" ></textarea></label>
    <button type="submit">Submit</button>
</form>