<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (success) { %>
      <h2 class="success">Post submitted successfully</h2>
    <% } %>

    <h1><%= title %></h1>
    <% include ./form %>
  </body>
</html>
